body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

nav {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1em;
  position: relative;
}

#menuButton {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #2c9caf;
  background: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

#menuButton:hover {
  color: #ffffff;
  background-color: #2c9caf;
}

#menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0.5em;
  z-index: 100;
}

#menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu li {
  margin: 0.5em 0;
}

#menu li a {
  color: #2c9caf;
  text-decoration: none;
  padding: 0.5em 1em;
  display: block;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#menu li a:hover {
  background-color: #f0f2f5;
  color: #1a6d7a;
}

.container {
  max-width: 1200px;
  margin: 2em auto;
  padding: 1em;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.First-Part {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  resize: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

textarea:focus {
  border-color: #2c9caf;
  outline: none;
}

.Results {
  width: 100%;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  background-color: #f0f2f5;
  color: #333;
  white-space: pre-wrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Second-Part {
  display: flex;
  justify-content: center;
}

button {
  padding: 0.75em 2em;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: #2c9caf;
  color: #ffffff;
  font-size: 1em;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #1a6d7a;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

/* Aggiustamenti per il menu a tendina */
nav {
  position: relative;
}

#menu.hidden {
  display: none;
}

#menuButton::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 0.3s ease;
}

#menuButton:hover::before {
  width: 250%;
}

/* Regola la posizione del menu a tendina */
#menu {
  width: 300px;
  padding: 0.5em 0;
}

#menu li a {
  padding: 0.5em 1em;
  display: block;
}

#menu li a:hover {
  background-color: #e0f7fa;
}
