body {
  margin: 0;
  background-color: #f0f0f0; /* Colore di sfondo leggermente grigio */
  font-family: "Arial", sans-serif; /* Font principale */
}

nav {
  background-color: #333; /* Colore di sfondo della barra di navigazione */
  color: white; /* Testo bianco */
  padding: 1rem; /* Padding interno */
}

.container {
  margin: 2%;
  display: flex;
  flex-direction: column; /* Layout in colonna per il contenuto */
  align-items: center; /* Centratura degli elementi */
}

.mb-4 {
  margin-bottom: 1.5rem; /* Margin bottom uniforme */
}

.input-field,
.select-field {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc; /* Bordo sottile grigio */
  border-radius: 5px; /* Angoli arrotondati */
  background-color: #fff; /* Sfondo bianco */
  font-size: 1rem; /* Dimensione del testo */
  transition: border-color 0.3s ease; /* Transizione per il cambio colore del bordo */
}

.input-field:focus,
.select-field:focus {
  outline: none; /* Rimuove l'outline al focus */
  border-color: #1e88e5; /* Colore del bordo al focus */
}

#compareBtn {
  margin-top: 1rem; /* Spazio superiore */
  padding: 1.3em 3em;
  font-size: 1rem; /* Dimensione del testo */
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #fff; /* Testo bianco */
  background-color: #23c483; /* Colore di sfondo verde */
  border: none; /* Rimuove il bordo */
  border-radius: 45px; /* Angoli arrotondati */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Ombra leggera */
  transition: all 0.3s ease; /* Transizione generale */
  cursor: pointer; /* Cursore puntatore */
  outline: none; /* Rimuove l'outline al focus */
}

#compareBtn:hover {
  background-color: #1aa56e; /* Colore di sfondo al passaggio del mouse */
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); /* Ombra più intensa */
  transform: translateY(-3px); /* Sposta in su al passaggio del mouse */
}

#compareBtn:active {
  transform: translateY(-1px); /* Effetto di pressione */
}

/* Stile per le select */
.select-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1rem; /* Spazio inferiore uniforme */
}

.select-wrapper::before {
  content: "\25BC"; /* Triangolo giù */
  font-size: 0.8em; /* Dimensione del carattere */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Non intercetta eventi del mouse */
  color: #666; /* Colore del triangolo */
}

.select-field {
  appearance: none; /* Nasconde l'aspetto predefinito */
  -webkit-appearance: none; /* Supporto per WebKit (Safari, Chrome) */
  -moz-appearance: none; /* Supporto per Mozilla (Firefox) */
}

/* Colori di highlight per il select */
#customerSelect,
#keywordSelect {
  border-color: #ccc; /* Bordo sottile grigio */
  background-color: #fff; /* Sfondo bianco */
  font-size: 1rem; /* Dimensione del testo */
  color: #333; /* Colore del testo */
  padding: 0.8rem 2rem 0.8rem 0.8rem; /* Padding */
  border-radius: 5px; /* Angoli arrotondati */
  transition: border-color 0.3s ease; /* Transizione per il cambio colore del bordo */
}

#customerSelect:focus,
#keywordSelect:focus {
  outline: none; /* Rimuove l'outline al focus */
  border-color: #23c483; /* Colore del bordo al focus */
}
